{% extends "layout.html.twig" %}

{% block body %}
    <div itemscope itemtype="http://schema.org/Person">
        {% include 'app/Sections/identity.html.twig' %}

        {% include 'app/Sections/about.html.twig' %}

        {% include 'app/Sections/cv.html.twig' %}

        {% include 'app/Sections/realisations.html.twig' %}

        {% include 'app/Sections/contact.html.twig' %}
    </div>
{% endblock %}
