{% extends "base.html.twig" %}

{% block content %}
    <div itemscope itemtype="http://schema.org/Person">
        {% include 'app/sections/identity.html.twig' %}

        {% include 'app/sections/about.html.twig' %}

        {% include 'app/sections/cv.html.twig' %}

        {% include 'app/sections/realisations.html.twig' %}

        {% include 'app/sections/contact.html.twig' %}
    </div>
{% endblock %}
