<?xml version="1.0" encoding="UTF-8"?>
<ruleset name="Resume">

    <arg name="basepath" value="."/>
    <arg name="cache" value=".phpcs-cache"/>
    <arg name="colors"/>
    <arg name="extensions" value="php"/>
    <arg value="sp"/>

    <file>src</file>
    <file>public</file>

    <rule ref="PSR12">
        <exclude name="Generic.Files.LineLength.TooLong"/>
        <exclude name="PSR12.Operators.OperatorSpacing.NoSpaceAfter"/>
        <exclude name="PSR12.Operators.OperatorSpacing.NoSpaceBefore"/>
        <exclude name="PSR12.Classes.AnonClassDeclaration.SpaceAfterKeyword"/>
    </rule>

    <rule ref="Internal.NoCodeFound">
        <severity>0</severity>
    </rule>

    <rule ref="Generic.Files.LineEndings.InvalidEOLChar"/>

    <!-- Custom rules -->
    <rule ref="Generic.Arrays.DisallowLongArraySyntax"/>
</ruleset>
