body {
    background: #e1e1e1;
}

.content {
    background: #fff;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: inset 0 0 50px #e6e6e6, 0 0 50px #aaa;
    border: 2px solid #fff;
}

h1 {
    color: #555;
}

h2, h3 {
    color: #94BA65;
}

.bg {
    font-size: 14px;
    text-transform: uppercase;
    background: #f75353;
    color: #fff;
    padding: 5px;
    margin: 0;
    text-align: center;
}

h4 {
    font-size: 14px;
    font-weight: bold;
    display: inline;
    color: #f75353;
}

.page-header {
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}

.page-header h2, .page-header h3 {
    display: inline;
    padding-bottom: 5px;
    border-bottom: 1px solid #94BA65;
}

.page-header h3 {
    padding-bottom: 10px;
}

/*******************************************************************************************************************
*                                       TOOLS
*******************************************************************************************************************/
.card {
    padding: 5px;
    background: #646464;
    color: #fff;
}

.card-content {
    padding: 10px 20px;
    border: 1px dashed #fff;
}

.card a, .card a:hover {
    color: #94BA65;
}
