<section class="content hidden-print" id="about">
    <div class="page-header">
        <h2>A propos</h2>
    </div>
    <p>Après plus de 7 ans d'expérience en tant que <strong>développeur web (php & symfony)</strong>, j'ai souhaité continué ma carrière dans l'enseignement.</p>
    <p>La <strong>pédagogie</strong> m'ayant toujours attiré, j'ai toujours aimé accompagner mes camarades de classes ou mes collègues dans leur montée en compétences, ou plus simplement en soutien sur les problématiques qu'ils pouvaient rencontrer au fil du temps.</p>
    <p>J'ai toujours des idées de sites dans les cartons, des projets "perso" en cours, à terminer, à lancer, à reprendre... Cela garantit la continuité de mon <strong>intêret pour le web</strong> et pour la veille, point important pour une formation plus juste, au plus près des technologies et pratiques actuelles.</p>
</section>
