<section class="content d-print-none">
    <div class="page-header">
        <h2 class="h4">A propos</h2>
    </div>
    <p>J'ai fait mes premiers pas d'acteurs dans le web il y a environ {{ resume.getNbYearsOfXp() + 3}} ans, professionnellement maintenant depuis environ {{ resume.getNbYearsOfXp() }}.</p>
    <p>Comme tout <strong>développeur passionné</strong>, j'ai toujours des idées de sites dans les cartons, des projets "perso" en cours, à  terminer, à  lancer, à  reprendre... </p>
    <p>J'ai tout de même besoin de m'investir dans un projet plus <strong>professionnel</strong>, plus concret. Je considèrere ces deux univers comme complémentaires, chacun nourrissant l'autre.</p>
    <p>J'accorde une importance particulière à  l'optimisation et la lisibilité de mon code; J'apprécie notamment écrire du <strong>code propre</strong> dans le respect des <strong>bonnes pratiques</strong>, ce que je pense être indispensable pour la pérennité et le bon maintien d'un projet web.</p>
    <p>Rigueur, logique, optimisation, cohérence, ... sont des valeurs que je mets en pratique dans la vie courante comme dans mon métier.</p>
    <p>C'est dans ce sens que j'aime orienter mon <strong>implication</strong> et mes <strong>propositions</strong> dans un projet.</p>
    <p>J'aime aussi apprendre tout autant que transmettre.</p>
    <p><small class="text-muted">Bon ça fait super sérieux comme ça, mais je peux être cool aussi !</small></p>

    <div class="row mt-4 mb-4">
        <div class="col">
            <div class="page-header">
                <h2 class="h4"><i class="fa fa-check text-success"></i> Ce que je peux / veux faire</h2>
            </div>
            <ul>
                <li>Concevoir un site à partir d'une problématique, d'une idée</li>
                <li>Refactorer / résorber de la dette technique (transition vers du Symfony et bonnes pratiques)</li>
                <li>De l'intégration simple mais propre (type template acheté ou maquette... bootstrap :3 ?)</li>
                <li>Accompagner des développeur plus junior (mentor ?)</li>
                <li>Des blagues nulles</li>
            </ul>
        </div>
        <div class="col">
            <div class="page-header">
                <h2 class="h4"><i class="fas fa-ban text-danger"></i> Ce que je ne peux peux / veux pas faire</h2>
            </div>
            <ul>
                <li>Du vrai dev front (angular, react...) et du vrai design (photoshop)</li>
                <li>Développer et mettre en place des CMS type wordpress, prestashop, drupal...</li>
                <li>Uniquement de la maintenance</li>
                <li>Intégrer une ESN</li>
                <li>Courir un marathon</li>
            </ul>
        </div>
    </div>

    <div class="page-header">
        <h2 class="h4"><i class="fas fa-question"></i> Ce que je recherche</h2>
    </div>

    <p>Rester plusieurs années dans une boite est mon prochain défi de vie personnel ! Paradoxalement, pour y arriver, je vais chercher pour la première fois un CDD (renouvelable !) de six mois ou un an par exemple. Nous pourrons en parler plus en détail de vive voix.</p>
    <p>Au niveau géographique, j'aimerais me diriger vers la ville de Metz. Je me vois bien intégrer une boite pas trop grande, moderne, dans laquelle la simplicité et la bienveillance reigneraient autour d'un projet web (ou pas) intéressant.</p>
    <p>Techniquement, j'aimerais bosser sur un projet web avec une logique métier propre, que ce soit un ERP, un service SASS, une API...</p>
</section>
