<section class="content d-print-none" id="contact">
    <div class="page-header">
        <h2 class="h4">Contact</h2>
    </div>
    <p>Je ne fais <b>pas de freelance</b>, cependant vous pouvez toujours me contacter si vous avez des questions.</p>
    <p>[Avant il y avait un joli formulaire de contact avec recaptcha, mais j'en ai eu marre du spam russe.]</p>
    <p><a href="mailto:{{ resume.email }}">{{ resume.email }}</a></p>
</section>
