<section class="content d-print-none" id="contact">
    <div class="page-header">
        <h2 class="h4">Contact</h2>
    </div>
    <p>Je ne fais <b>pas de freelance</b>, cependant vous pouvez toujours me contacter si vous avez des questions.</p>
    {{ render(path('contact')) }}
</section>
