<section class="content d-print-none" id="lcdw">
    <div class="page-header d-print-none">
        <h2 class="h4">La cuisine du web</h2>
    </div>
    <div class="row">
        <div class="col-4"><img class="img-fluid" src="http://www.lacuisineduweb.com/wp-content/uploads/2012/06/Logo-LaCuisineDuWeb3%20(1).png" alt="La cuisine du web"></div>
        <div class="col-8">
            <p>La cuisine du web est une <strong>association dynamique</strong> autour de l'univers du web en général.</p>
            <p>Elle se donne pour objectif de <strong>développer l'écosystème web Lyonnais</strong> en se plaçant au coeur d'un carrefour regroupant une multitude d'acteurs : entrepreneurs, entreprises, écoles, développeurs, ...</p>
            <p>En favorisant entre autres le networking, le partage, la formation, le recrutement, ... et en co-organisant des évènements tels que la conférence <a target="_blank" href="http://www.blendwebmix.com">BlendWebMix</a>,
                la <strong>CuisineDuWeb</strong> est devenue très rapidement une association <b>incontournable</b> dans le milieu.</p>
            <p>
                <i class="glyphicon glyphicon-link"></i> <a href="http://www.lacuisineduweb.com/" target="_blank">lacuisineduweb.com</a>
            </p>
        </div>
    </div>
</section>
