<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="i4BXRZLWAmjLNVKWk2jdypNwkc1BPUjZnnXX799xbVg">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    <title>Jonathan Plantey - Développeur web</title>

    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_script_tags('app') }}
</head>

<body class="bg-body-secondary">
    <div class="container" style="max-width: 1135px;">
        {% block content %}{% endblock %}

        <footer class="d-print-none">
            <p class="text-center"><small class="text-muted">Tous droits réservés - &copy; Copyright 2014 - {{ "now"|date('Y') }}</small></p>
        </footer>
    </div>
</body>
</html>
