<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="google-site-verification" content="i4BXRZLWAmjLNVKWk2jdypNwkc1BPUjZnnXX799xbVg" />
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <title>Jonathan Plantey - Développeur web</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/default.css') }}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/print.css') }}" media="print" />
</head>

<body>
<div class="container">
    {% block body %}{% endblock %}

    {% include 'footer.html.twig' %}
</div>

{% block js %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-12424743-9', 'jonathan-plantey.fr');
        ga('send', 'pageview');
    </script>

    <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=onCaptchaJSLoaded"></script>
{% endblock %}
</body>
</html>

